<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=(localdb)\MSSQLLocalDB,
         Initial Catalog=Recepies_Two; Integrated Security=True; Connect Timeout=15;
         Encrypt=False; TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings> -->

  <connectionStrings>
    <add name="EmployeeDatabaseConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EmployeeDatabase;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Recepies_Two;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <!-- Allow access to App_Themes directory -->
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <!-- Allow access to Images directory -->
  <location path="Images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="SignUp.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>


  <location path="UserManage.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  

  
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

  
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms"> </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <pages theme="websiteTheme"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web> 
  
  
</configuration>